/* FONTS */
@font-face {
    font-family: SourceHanSansCN;
    src: url(../../font/SourceHanSansCN-Normal.otf);
}

/* ANIMATION */
@-webkit-keyframes neon {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@keyframes neon {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@-webkit-keyframes loading {
  0%,
  90%,
  100%{
    height: 0;
  }
  40%,
  50%{
    height: 100%;
  }
}

@keyframes loading {
  0%,
  90%,
  100%{
    height: 0;
  }
  40%,
  50%{
    height: 100%;
  }
}

.animation-loading{
  -webkit-animation: loading 10s linear both infinite;
  animation: loading 10s linear both infinite;
}

/* ANIMATION */
@-webkit-keyframes sandClock {
  0%,
  40%{
    -webkit-transform: rotate(0);
  }
  50%,
  90%{
    -webkit-transform: rotate(180deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
  }
}

@keyframes sandClock {
  0%,
  40%{
    transform: rotate(0);
  }
  50%,
  90%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.animation-sandClock{
  -webkit-animation: sandClock 10s both linear infinite;
  animation: sandClock 10s linear both infinite;
}

@-webkit-keyframes roundTrip {
  0%,
  50%,
  100%{
    -webkit-transform: translateX(0);
  }
  25%{
    -webkit-transform: translateX(-140%);
  }
  75%{
    -webkit-transform: translateX(140%);
  }
}

@keyframes roundTrip {
  0%,
  50%,
  100%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(-140%);
  }
  75%{
    transform: translateX(140%);
  }
}

.animation-roundTrip{
  -webkit-animation: roundTrip 4s linear both infinite;
  animation: roundTrip 4s linear both infinite;
}

@-webkit-keyframes flash {
  0%,
  10%,
  20%,
  100% {
    opacity: 1;
  }
  5%,
  15% {
    opacity: 0;
  }
}

@keyframes flash {
  0%,
  25%,
  75% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

.animation-flash {
  -webkit-animation: flash 2s both infinite alternate;
  animation: flash 2s both infinite alternate;
}

@-webkit-keyframes fadeOut {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes fadeOut {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.animation-fadeOut{
  -webkit-animation: fadeOut .6s linear both;
  animation: fadeOut .6s linear both;
}

@-webkit-keyframes loading {
  0% {
    background-position: 0 0
  }
  33%{
    background-position: 0 -.2rem;
  }
  66%{
    background-position: 0 -.4rem;
  }
  100%{
    background-position: 0 0;
  }
}

@keyframes loading {
  0% {
    background-position: 0 0
  }
  33%{
    background-position: 0 -1.05rem;
  }
  66%{
    background-position: 0 -2.1rem;
  }
  100%{
    background-position: 0 0;
  }
}

.animation-loading{display: block; width: 1.8rem; height: 1.05rem; background: url(../../images/bg-loading_dot.png) no-repeat 0 0; background-size: 1.8rem 3.15rem;}
.animation-loading{
  -webkit-animation: loading 2s steps(1) both infinite;
  animation: loading 2s steps(1) both infinite;
}

/* RESET */
body,
html{height: 100%; min-height:100%; background-color:#fff}
body{color:#686868; font-size:.24rem; font-family:Arial, Microsoft Yahei; line-height: .34rem;}
h2, h3, h4, ul, li, dl, dt, dd, p{margin:0; padding:0; font-weight:400; font-size:inherit}
li{list-style:none}
a{color: #686868; text-decoration: none;}
img{color:#333; font-size:.12rem}
em{font-style:normal}
input,
textarea{margin: 0; padding: 0; border: none; background-color: transparent; color: #686868;}
input[type="tel"],
input[type="text"],
input[type="password"],
textarea{width:100%; height:100%; font-family: Arial, Microsoft Yahei;}
input{
  box-sizing: border-box;
}
label{cursor: pointer;}
div, a, label, span, button, button:focus, input, select, textarea{
  outline:none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
::-webkit-input-placeholder{color:#999}
:-moz-placeholder{color:#999}
::-moz-placeholder{color:#999}
:-ms-input-placeholder{color:#999}
input.center{text-align: center;}
input.center::-webkit-input-placeholder{text-align: center;}
input.center:-moz-placeholder{text-align: center;}
input.center::-moz-placeholder{text-align: center;}
input.center:-ms-input-placeholder{text-align: center;}
input.right{text-align: right;}
input.right::-webkit-input-placeholder{text-align: right;}
input.right:-moz-placeholder{text-align: right;}
input.right::-moz-placeholder{text-align: right;}
input.right:-ms-input-placeholder{text-align: right;}
textarea{resize:none;}

/* COMMON */
.wrap{overflow: hidden; position: relative; width: 7.5rem; height: 100%; min-height: 11rem; margin: 0 auto; background-color: #f4f3f8;}

.swiper-container,
.swiper-wrapper,
.swiper-slide{width: 100%; height: 100%;}
.swiper-button-prev,
.swiper-button-next{width: .4rem; height: .44rem; background-repeat: no-repeat; background-position: center center; background-size: cover;}
.swiper-button-prev{background-image: url(../../images/btn-prev.png);}
.swiper-button-next{background-image: url(../../images/btn-next.png);}

.stage-list{display: none;}

.hide{display: none!important;}

.tab{position: absolute; left: .1rem; top: .45rem;}
.tab li{position: relative; padding: 0 .2rem}
.tab li:first-child:before{content: '.'; position: absolute; right: 0; top: 50%; width: .03rem; height: .46rem; background-color: #224663; text-indent: -999rem;}
.tab li:first-child:before{
  transform: translateY(-50%);
}

.loading-dot{display: block; width: .83rem; height: .15rem; background: url(../../images/bg-loading_dot.png) no-repeat left top; background-size: .83rem .55rem;}

.flex{
  display: -webkit-box;
  display: -webkit-flex; 
  display: -moz-flex;
  display: flex;
}

.flex-direction_column{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  box-orient: vertical;
  box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-wrap_wrap{
  -webkit-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-justify_center{
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-flex-pack: center;
  flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-justify_end{
  -webkit-box-pack: end;
  box-pack: end;
  -webkit-flex-pack: end;
  flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.flex-justify_around{
  -webkit-flex-pack: distribute;
  flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}


.flex-justify_between{
  -webkit-box-pack: justify;
  box-pack: justify;
  -webkit-flex-pack: justify;
  flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-align_center{
  -webkit-box-align: center;
  box-align: center;
  -webkit-flex-align: center;
  flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex-align_baseline{
  -webkit-box-align: baseline;
  box-align: baseline;
  -webkit-flex-align: baseline;
  flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
}

.flex-align_end{
  -webkit-box-align: end;
  box-align: end;
  -webkit-flex-align: end;
  flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.translate_centerX{
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.translate_centerY{
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.translate_center{
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flipper{position: relative;}
.flipper{
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .6s;
  transition: transform .6s;
}
.flipper-front,
.flipper-back{position: absolute; left: 0; right: 0; top: 0; bottom: 0;}
.flipper-front,
.flipper-back{
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flipper-front{z-index: 2;}
.flipper-back{
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.scene-flipper{position: relative; width: 100%; height: 100%;}
.scene-flipper{
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .6s;
  transition: transform .6s;
}
.flipper-disabled .scene-flipper{
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}
.scene-flipper_front,
.scene-flipper_back{position: absolute; left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 100%;}
.scene-flipper_front,
.scene-flipper_back{
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.scene-flipper_front{z-index: 2;}
.scene-flipper_back{
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* BACKGROUND COLOR */

/* ICONS */
.icons{display: block; position: relative; border: none; background-repeat: no-repeat; background-position: 0 0; text-indent: -99rem; background-size: 100% 100%;}
.icon-time{width: .24rem; height: .24rem; background-image: url(../../images/icon-time.png);}
.icon-prize{width: .24rem; height: .24rem; background-image: url(../../images/icon-prize.png);}
.icon-notice{width: .24rem; height: .24rem; background-image: url(../../images/icon-notice.png);}
.icon-member{width: .24rem; height: .24rem; background-image: url(../../images/icon-member.png);}
.icon-checked{width: .24rem; height: .24rem; background-image: url(../../images/icon-checked.png);}

/* BTNS */
.btns{display: block; position: relative; cursor: pointer; border: none; background-repeat: no-repeat; background-position: 0 0; text-indent: -99rem; background-size: 100% 100%;}
.btn-buy{width: 2.62rem; height: .94rem; background-image: url(../../images/btn-buy.png);}
.btn-photoWall{width: 1.6rem; height: .4rem; background-image: url(../../images/btn-photoWall.png);}
.btn-photoWall_disable{width: 1.6rem; height: .4rem; background-image: url(../../images/btn-photoWall_disable.png);}
.btn-playbill{width: 2.24rem; height: .42rem; background-image: url(../../images/btn-playbill.png);}
.btn-playbill_disable{width: 2.24rem; height: .42rem; background-image: url(../../images/btn-playbill_disable.png);}
.btn-rule{width: 1.46rem; height: .38rem; background-image: url(../../images/btn-rule.png);}
.btn-start{width: 2.62rem; height: .94rem; background-image: url(../../images/btn-start.png);}
.btn-close{width: .58rem; height: .58rem; background-image: url(../../images/btn-close.png);}
.btn-decathlon{width: 2.62rem; height: .94rem; background-image: url(../../images/btn-decathlon.png);}
.btn-tmall{width: 2.62rem; height: .94rem; background-image: url(../../images/btn-tmall.png);}
.btn-submit{width: 2.72rem; height: 1.04rem; background-image: url(../../images/btn-submit.png);}
.btn-reset{width: 2.72rem; height: 1.04rem; background-image: url(../../images/btn-reset.png);}
.btn-create{width: 2.72rem; height: 1.04rem; background-image: url(../../images/btn-create.png);}
.btn-restart{width: 1.86rem; height: .34rem; background-image: url(../../images/btn-restart.png);}
.btn-home{width: 1.16rem; height: .42rem; background-image: url(../../images/btn-home.png);}
.btn-change{width: 2.72rem; height: 1.04rem; background-image: url(../../images/btn-change.png);}

/* WORDS */
.words{display: block; position: relative; border: none; background-repeat: no-repeat; background-position: 0 0; text-indent: -99rem; background-size: 100% 100%;}
.word-coming_title{width: 5rem; height: .86rem; background-image: url(../../images/word-coming_title.png);}
.word-landing_title{width: 5.94rem; height: 1.7rem; background-image: url(../../images/word-landing_title.png);}
.word-tmall_title{width: 4.18rem; height: .48rem; background-image: url(../../images/word-tmall_title.png);}
.word-theme_title{width: 5.14rem; height: .86rem; background-image: url(../../images/word-theme_title.png);}
.word-theme_sandbeach{width: 1.74rem; height: .38rem; background-image: url(../../images/theme-sandbeach_word.png);}
.word-theme_pool{width: 1.8rem; height: .4rem; background-image: url(../../images/theme-pool_word.png);}
.word-theme_underwater{width: 1.74rem; height: .42rem; background-image: url(../../images/theme-underwater_word.png);}
.word-photo_tips{width: 2.64rem; height: .88rem; background-image: url(../../images/word-photo_tips.png);}
.word-save_title{width: 4.18rem; height: .38rem; background-image: url(../../images/word-save_title.png)}
.word-wall_title{width: 2.78rem; height: .38rem; background-image: url(../../images/word-wall_title.png);}
.word-playbill_title{width: 4.74rem; height: .82rem; background-image: url(../../images/word-playbill_title.png);}
.word-tips_upload{width: 2.38rem; height: .48rem; background-image: url(../../images/word-tips_upload.png);}
.word-loading_title{width: 2.7rem; height: 1.3rem; background-image: url(../../images/word-loading_title.png);}
.word-tips_error{width: 5.76rem; height: 1.48rem; background-image: url(../../images/word-tips_error.png);}

/* POP */
.pop{display: none; position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 1000; background-color: rgba(0, 0, 0, .8); opacity: 0;}
.pop{
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
.pop.fadeIn{display: block; opacity: 1;}
.pop section{display: none; position: absolute; left: 50%; top: 50%; background-repeat: no-repeat; background-position: center center; background-size: 100% 100%;}
.pop section{
  box-sizing: border-box;
  -webkit-transform: translate(-50%, -50%);   
  transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform .4s .01s;
  transition: transform .4s .01s;
}
.pop section.zoomIn{display: block;}
.pop section.zoomIn{
  -webkit-transform: translate(-50%, -50%);  
  transform: translate(-50%, -50%);
}
.pop .btn-pop_close{position: absolute; right: .2rem; top: .2rem;}

.pop .pop-buy{overflow: hidden; width: 5.96rem; height: 7.64rem; border-radius: .1rem; background-color: #e7eef8;}
.pop .pop-buy_box{width: 100%; height: 100%;}
.pop .pop-buy_box div{width: 100%; height: 5.86rem; min-height: 5.86rem; background: url(../../images/bg-pop_buy.png) no-repeat center center; background-size: cover;}
.pop .pop-buy_box ul{height: 100%;}
.pop .pop-buy_box li{margin: 0 .1rem;}

.pop .pop-tmall{overflow: hidden; width: 5.96rem; height: 7.64rem; border-radius: .1rem; background-color: #e7eef8;}
.pop .pop-tmall_box{width: 100%; height: 100%;}
.pop .pop-tmall_box div:first-child{width: 100%; height: 5.86rem; min-height: 5.86rem; background: url(../../images/bg-pop_buy.png) no-repeat center center; background-size: cover;}
.pop .pop-tmall_box div:last-child{height: 100%; padding-top: .3rem;}
.pop .pop-tmall_box div:last-child{
  box-sizing: border-box;
}
.pop .pop-tmall_box h3,
.pop .pop-tmall_box p{margin: 0 auto;}
.pop .pop-tmall_box p{margin-top: .2rem; color: #114766; font-size: .24rem; line-height: .34rem; text-align: center;}

.pop .pop-rule{position: absolute; left: 0; right: 0; top: 0; bottom: 0; padding: .6rem; background-color: #fff; color: #114766;}
.pop section.pop-rule{
  -webkit-transform: translate(0, 0);  
  transform: translate(0, 0);
}
.pop .pop-rule .pop-rule_box{overflow: auto; width: 100%; height: 100%;}
.pop .pop-rule .rule-banner{position: relative; width: 100%; height: 4.27rem; margin-top: .2rem;}
.pop .pop-rule .rule-banner_anim{
  -webkit-animation: fadeOut 3s linear both infinite alternate;
  animation: fadeOut 3s linear both infinite alternate;
}
.pop .pop-rule .rule-banner img{display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0;}
.pop .pop-rule .rule-banner img{
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
}
.pop .pop-rule .rule-banner img.active{opacity: 1;}
.pop .pop-rule .rule-banner ul{position: absolute; left: .1rem; right: .1rem; bottom: .1rem;}
.pop .pop-rule .rule-banner li{width: .1rem; height: .1rem; margin: 0 .05rem; border-radius: 50%; background-color: #fff;}
.pop .pop-rule .rule-banner li.active{background-color: #114766;}
.pop .pop-rule .prize-notice{padding: .2rem 0 .4rem; font-size: .2rem; line-height: .4rem; text-align: left;}
.pop .pop-rule .prize-notice label{position: relative; font-size: .2rem; line-height: .3rem; text-align: center;}
.pop .pop-rule .prize-notice label:before{content: '.'; display: block; position: absolute; right: -.28rem; top: 50%; width: 0; height: 0; margin-top: -.1rem; border-left: .1rem solid transparent; border-right: .1rem solid transparent; border-top: .16rem solid #597e93; text-indent: -99rem;}
.pop .pop-rule .prize-notice h4{width: 100%; margin: .3rem 0 .2rem; font-weight: 700;}
.pop .pop-rule .prize-notice strong{font-weight: 700;}
.pop .pop-rule .prize-notice p{width: 100%; text-align: left;}
.pop .pop-rule input{display: none;}
.pop .pop-rule input[type="checkbox"] + div.prize-notice h4, 
.pop .pop-rule input[type="checkbox"] + div.prize-notice p{display: none;}
.pop .pop-rule input[type="checkbox"]:checked + div.prize-notice h4,
.pop .pop-rule input[type="checkbox"]:checked + div.prize-notice p{display: block;}
.pop .pop-rule input[type="checkbox"]:checked + div.prize-notice label:before{border-top: none; border-bottom: .16rem solid #597e93;}
.pop .pop-rule input[type="checkbox"]#agreement + label i{width: .24rem; height: .24rem; margin-right: .1rem; background-image: url(../../images/icon-check.png);}
.pop .pop-rule input[type="checkbox"]#agreement:checked + label i{background-image: url(../../images/icon-checked.png);}
.pop .pop-rule img{display: block; width: 100%; height: auto;}
.pop .pop-rule h2,
.pop .pop-rule h3,
.pop .pop-rule p{text-align: center;}
.pop .pop-rule h2{font-weight: 700; font-size: .44rem; line-height: .54rem;}
.pop .pop-rule h3{margin-top: .5rem; font-size: .3rem; line-height: .4rem;}
.pop .pop-rule p{margin-top: .2rem; font-size: .26rem; line-height: .36rem;}
.pop .pop-rule p span{color: #e28080; font-size: .2rem; line-height: .3rem;}
.pop .pop-rule dl{padding-top: .2rem;}
.pop .pop-rule dt{font-weight: 700; font-size: .28rem; line-height: .48rem;}
.pop .pop-rule dd{font-size: .24rem; line-height: .44rem;}
.pop .pop-rule dd span{color: #597e93; font-size: .2rem; line-height: .4rem;}
.pop .pop-rule ul{padding-top: .2rem;}
.pop .pop-rule li{font-size: .26rem; line-height: .46rem;}

.pop .pop-tips{overflow: hidden; width: 4.24rem; height: 1.64rem; border-radius: .1rem; background-color: #e7eef8;}
.pop .pop-tips_box{width: 100%; height: 100%;}

.pop .pop-loading{position: absolute; left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 100%;}
.pop .pop-loading_box{width: 100%; height: 100%;}
.pop section.pop-loading{
  -webkit-transform: translate(0 , 0);
  transform: translate(0 , 0);
}
.pop .pop-loading dd{
  -webkit-transform: translateX(-.4rem);
  transform: translateX(-.4rem);
}

.pop .pop-error{position: absolute; left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 100%;}
.pop .pop-error_box{width: 100%; height: 100%;}
.pop section.pop-error{
  -webkit-transform: translate(0 , 0);
  transform: translate(0 , 0);
}

/* FORM */










